<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  
  <body style="margin-top: 30; display: flex; justify-content: center;  align-items: center;">
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" style="border-radius: 20px; width: 200px;"/>
        {% endif %}
        
        <a href="./afjsinme.html" style="display: block; 
          background-image: linear-gradient(to right, #f0f0f0 100%,rgb(145, 234, 144) 100%);
          padding: 10px; 
          border-radius: 8px; 
          color: inherit; 
          margin-top: 10px; 
          width: 65%;
          text-decoration: none;
          text-align: center; 
        "><h3>About</h3></a>

        <a href="./AESN.html" style="display: block; 
          background-image: linear-gradient(to right, #f0f0f0 0%, #f0f0f0 100%,rgb(145, 234, 144) 100%);
          padding: 10px; 
          border-radius: 8px; 
          color: inherit; 
          margin-top: 10px; 
          width: 65%;
          text-decoration: none;
          text-align: center; 
        "><h3>Experiences</h3></a>

        <a href="./afjsinma.html" style="display: block; 
          background-image: linear-gradient(to right, #f0f0f0 100%,rgb(145, 234, 144) 100%);
          padding: 10px; 
          border-radius: 8px; 
          color: inherit; 
          margin-top: 10px; 
          width: 65%;
          text-decoration: none;
          text-align: center; 
        "><h3>Skills</h3></a>

       
        <a href="./UofT.html" style="display: block; 
          background: rgba(191, 222, 247, 0.81);
          padding: 10px; 
          border-radius: 8px; 
          color: inherit; 
          margin-top: 10px; 
          width: 65%;
          text-decoration: none;
          text-align: center; 
        "><h3>School</h3></a>

        <p>{{ site.description | default: site.github.project_tagline }}</p>
      </header>
    
      
      <section>
        
      {{ content }}

      </section>



      <footer>
        {% if site.github.is_user_page %}
        <p class="view">
          <a href="{{ site.github.owner_url }}">
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub" style="width: 30px;">
          </a>
          <!-- <a href="https://www.linkedin.com/in/leo-wang-09833128a/">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" alt="LinkedIn" style="width: 30px; margin-left: 6px;">
          </a> -->
        </p>
        {% endif %}
      </footer>

    </div>

    {% if page.url contains "AESN" %}
    <!-- <section>/ -->
    <aside class="right-section" style="
      width: 150px;
      margin-left: 10px;
      position: sticky;
      align-self: flex-start;
      top: 70px;
    ">
    <div style="display: flex; flex-direction: column; gap: 10px; margin-top: 20px; padding-left: 10px; font-family: sans-serif;">
      <div style="display: flex; align-items: center; gap: 10px;">
        <div title="Research" style="width: 12px; height: 12px; background-color: #dfdfdf; border-radius: 2px; flex-shrink: 0;"></div>
        <h5 style="margin: 0; line-height: 1;">Research</h5>
      </div>
      
      <div style="display: flex; align-items: center; gap: 10px;">
        <div title="Personal Project" style="width: 12px; height: 12px; background-color: #ff4d4d; border-radius: 2px; flex-shrink: 0;"></div>
        <h5 style="margin: 0; line-height: 1;">Personal Project</h5>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
        <div title="MATLAB" style="width: 12px; height: 12px; background-color: #f78f18; border-radius: 2px; flex-shrink: 0;"></div>
        <h5 style="margin: 0; line-height: 1;">MATLAB</h5>
      </div>
    
      <div style="display: flex; align-items: center; gap: 10px;">
        <div title="Altium" style="width: 12px; height: 12px; background-color: rgb(235, 203, 22); border-radius: 2px; flex-shrink: 0;"></div>
        <h5 style="margin: 0; line-height: 1;">Altium</h5>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
        <div title="Fusion" style="width: 12px; height: 12px; background-color: rgb(217, 237, 37); border-radius: 2px; flex-shrink: 0;"></div>
        <h5 style="margin: 0; line-height: 1;">Fusion</h5>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
        <div title="UART" style="width: 12px; height: 12px; background-color: rgb(165, 226, 65); border-radius: 2px; flex-shrink: 0;"></div>
        <h5 style="margin: 0; line-height: 1;">UART</h5>
      </div>
    
      <div style="display: flex; align-items: center; gap: 10px;">
        <div title="USB" style="width: 12px; height: 12px; background-color: rgb(70, 184, 35); border-radius: 2px; flex-shrink: 0;"></div>
        <h5 style="margin: 0; line-height: 1;">USB</h5>
      </div>
      
      <div style="display: flex; align-items: center; gap: 10px;">
        <div title="NMEA" style="width: 12px; height: 12px; background-color: rgb(83, 143, 66); border-radius: 2px; flex-shrink: 0;"></div>
        <h5 style="margin: 0; line-height: 1;">NMEA</h5>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
        <div title="SPI" style="width: 12px; height: 12px; background-color: rgb(84, 126, 72); border-radius: 2px; flex-shrink: 0;"></div>
        <h5 style="margin: 0; line-height: 1;">I2C/SPI</h5>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
        <div title="STM32" style="width: 12px; height: 12px; background-color: #007bff; border-radius: 2px; flex-shrink: 0;"></div>
        <h5 style="margin: 0; line-height: 1;">STM32</h5>
      </div>
      
      <div style="display: flex; align-items: center; gap: 10px;">
        <div title="ROS2" style="width: 12px; height: 12px; background-color: #075fb1; border-radius: 2px; flex-shrink: 0;"></div>
        <h5 style="margin: 0; line-height: 1;">ROS2</h5>
      </div>

      <!-- <div style="display: flex; align-items: center; gap: 10px;">
        <div title="ROS2" style="width: 12px; height: 12px; background-color: #075fb1; border-radius: 2px; flex-shrink: 0;"></div>
        <h5 style="margin: 0; line-height: 1;">University Involvement</h5>
      </div>
      #1E3765 -->

      <div style="display: flex; align-items: center; gap: 10px;">
        <div title="C/C++" style="width: 12px; height: 12px; background-color: #e2accd; border-radius: 2px; flex-shrink: 0;"></div>
        <h5 style="margin: 0; line-height: 1;">C/C++</h5>
      </div>

      <!-- <div style="display: flex; align-items: center; gap: 10px;">
        <div title="FreeRTOS" style="width: 12px; height: 12px; background-color: #bf91ee; border-radius: 2px; flex-shrink: 0;"></div>
        <h5 style="margin: 0; line-height: 1;">FreeRTOS</h5>
      </div> -->

      <div style="display: flex; align-items: center; gap: 10px;">
        <div title="Python" style="width: 12px; height: 12px; background-color: #a261e2; border-radius: 2px; flex-shrink: 0;"></div>
        <h5 style="margin: 0; line-height: 1;">Python</h5>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
        <div title="OpenCV" style="width: 12px; height: 12px; background-color: #7f31cd; border-radius: 2px; flex-shrink: 0;"></div>
        <h5 style="margin: 0; line-height: 1;">OpenCV</h5>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
        <div title="Linux" style="width: 12px; height: 12px; background-color: #ef8686; border-radius: 2px; flex-shrink: 0;"></div>
        <h5 style="margin: 0; line-height: 1;">Linux</h5>
      </div>

      
    
    </div>

    

    </aside>
  <!-- </section> -->
  {% else %}
  <div style="width: 150px; margin-left: 10px; flex-shrink: 0;"></div>

    {% endif %}

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
